@model IdeablogClear.Models.Topic

@{
    ViewBag.Title = "Details";
}


<h1>@Html.DisplayFor(model => model.Title)</h1>
<p class='muted text-right'>Created by @Model.CreatedBy on @Html.DisplayFor(model => model.CreatedAt)</p>
<p>
    @Html.DisplayFor(model => model.Content)
</p>
<div class='btn-group'>   
   @Html.ActionLink("Back", "Index", new { }, new { @class="btn"})  
</div>
<div class='replies'>
    @foreach(var reply in Model.Replies){
        <article class='reply'>
            <!--<p class='muted text-right'><%=_("Created by #{reply.created_by} on #{reply.created_at}")%></p>-->
            @reply.Content        
        </article>    
    }
</div>