@model IEnumerable<IdeablogClear.Models.Topic>

@{
    ViewBag.Title = "Index";
}

<h1>Listing topics</h1>

<table class='table'>
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.Title)</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    @foreach (var item in Model) {

      <tr>
        <td>@Html.DisplayFor(modelItem => item.Title)</td>
        <td>
            @Html.ActionLink("Show", "Details", new { id=item.TopicId }, new {@class = "btn btn-mini" })
            @Html.ActionLink("Edit", "Edit", new { id = item.TopicId }, new {@class = "btn btn-mini" })
            @Html.ActionLink("Destroy", "Delete", new { id=item.TopicId }, new {@class = "btn btn-mini" })            
        </td>
      </tr>
    }
  </tbody>
</table>
@Html.ActionLink("Create New", "Create", new { } , new {@class = "btn btn-primary" })